#resultado {
  padding-top: 75px;
  color: gray;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.tituloResult1 {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-top: 15px;
  margin-left: 50px;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-left: 10px;
}

.tituloResult2 {
  color: gray;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1px;
  margin-left: 50px;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-left: 10px;
}

.movie-grid {
  margin-top: 0px;
  margin-bottom: 0px;
}
