.footer-expand-xs {
    color: white;
    width: 100%;
    
}
#mail {
    text-decoration: none ;
    margin-top: 8px;
  }
.git{
    width: 30px;
    height: 30px;
}

#curso{
    text-decoration: none;
    margin-left: 15px;
}
.empresa{
    margin-top: 14px;
}
.nombre{
    margin-top: 14px;
}